
.purchase-menu-global{
    background-color: #1ea1c2;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.purchase-menu-content{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
}

.purchase-menu-item{
    text-align: center;
    border: 1px solid black;
    padding: 10px 40px;
    width: 100%;
    background-color: #FFE20A;
    border: 2px solid #4CAD02;
    border-radius: 5px;
    box-shadow: 1px 1px 3px black;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.purchase-menu-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}